@import url('common.css');

body {
    width: 100%;
    background-color: #c7c7c7;
}

.background {
    width: 100%;
    height: 100%;
}

.outer-scratch,
.inner-scratch {
    height: inherit;
}

.outer-scratch:after,
.inner-scratch:after {
    content: '';
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .1;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png') repeat center center;
    -webkit-animation: scratch 0.45s steps(1) infinite;
    animation: scratch 0.45s steps(1) infinite;
}

.inner-scratch:after {
    -webkit-animation: inner-scratch 2s infinite;
    animation: inner-scratch 2s infinite;
}

#section1 {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 5vh 0;
    position: relative;
}

#section1:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
    -webkit-animation: grain 0.5s steps(1) infinite;
    animation: grain 0.5s steps(1) infinite;
}


.sti p {
    background: #000;
    padding: 3% 2%;
    border-radius: 100%;
    position: absolute;
    top: 15%;
    right: 15%;
    text-align: center;
    transform: rotate(15deg);
    box-shadow: 10px 10px 5px gray;
    cursor: pointer;
    z-index: 999;
}

#section1 p a {
    font-size: 2em;
    color: #738c6f;
}

.sec1 {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.sec1 h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 13vh;
}

.sec1_2 {
    width: 100%;
}

.sec1_2 p {
    width: 90%;
    position: absolute;
    right: 0;
    border-bottom: 10px solid #000;
    z-index: 999;
}

.sec1_2 img {
    position: absolute;
    bottom: 5%;
    left: 2%;
    z-index: 999;
    animation: img 1s infinite;
    animation-direction: alternate;
}

@keyframes img {
    0% {
        width: 100px;
    }

    90% {
        width: 100px;
    }

    to {
        width: 100px;
        height: auto;
        top: -50%;
    }
}

#section8 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec8_1 {
    width: 50%;
    margin: 0 auto;
}

.sec8_1 img {
    width: 100%;
}

.sec8_2 {
    width: 30%;
    margin: 0 auto;
    color: aliceblue;
}

.sec8_2 h2 {
    font-size: 5em;
    margin: 0;
}

.sec8_2 p {
    font-size: 1.3em;
    margin: 0;
}

.sec8_2_1 {
    padding-top: 30px;
}

.sec8_3 {
    width: 30%;
    padding-top: 50px;
}

.sec8_3 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec8_3 p a {
    color: aliceblue;
}

#section9 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec9_1 {
    width: 30%;
    margin: 0 auto;
    margin-left: 10%;
    color: aliceblue;
}

.sec9_1 h2 {
    font-size: 5em;
    margin: 0;
}

.sec9_1 p {
    font-size: 1.3em;
    margin: 0;
}

.sec9_1_1 {
    padding-top: 30px;
}

.sec9_2 {
    width: 30%;
    padding-top: 50px;
}

.sec9_2 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec9_2 p a {
    color: aliceblue;
}

.sec9_3 {
    width: 50%;
    margin: 0 auto;
}

.sec9_3 img {
    width: 100%;
}

#section10 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec10_1 {
    width: 50%;
    margin: 0 auto;
}

.sec10_1 img {
    width: 100%;
}

.sec10_2 {
    width: 30%;
    margin: 0 auto;
    color: aliceblue;
}

.sec10_2 h2 {
    font-size: 5em;
    margin: 0;
}

.sec10_2 p {
    font-size: 1.3em;
    margin: 0;
}

.sec10_2_1 {
    padding-top: 30px;
}

.sec10_3 {
    width: 30%;
    padding-top: 50px;
}

.sec10_3 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec10_3 p a {
    color: aliceblue;
}

#section11 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec11_1 {
    width: 30%;
    margin: 0 auto;
    margin-left: 10%;
    color: aliceblue;
}

.sec11_1 h2 {
    font-size: 5em;
    margin: 0;
}

.sec11_1 p {
    font-size: 1.3em;
    margin: 0;
}

.sec11_1_1 {
    padding-top: 30px;
}

.sec11_2 {
    width: 30%;
    padding-top: 50px;
}

.sec11_2 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec11_2 p a {
    color: aliceblue;
}

.sec11_3 {
    width: 50%;
    margin: 0 auto;
}

.sec11_3 img {
    width: 100%;
}

#section12 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec12_1 {
    width: 50%;
    margin: 0 auto;
}

.sec12_1 img {
    width: 100%;
}

.sec12_2 {
    width: 30%;
    margin: 0 auto;
    color: aliceblue;
}

.sec12_2 h2 {
    font-size: 5em;
    margin: 0;
}

.sec12_2 p {
    font-size: 1.3em;
    margin: 0;
}

.sec12_2_1 {
    padding-top: 30px;
}

.sec12_3 {
    width: 30%;
    padding-top: 50px;
}

.sec12_3 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec12_3 p a {
    color: aliceblue;
}

#section13 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #111111;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10%;
}

.sec13_1 {
    width: 30%;
    margin: 0 auto;
    margin-left: 10%;
    color: aliceblue;
}

.sec13_1 h2 {
    font-size: 5em;
    margin: 0;
}

.sec13_1 p {
    font-size: 1.3em;
    margin: 0;
}

.sec13_1_1 {
    padding-top: 30px;
}

.sec13_2 {
    width: 30%;
    padding-top: 50px;
}

.sec13_2 p {
    border: 1px solid #fff;
    padding: 5%;
    text-align: center;
}

.sec13_2 p a {
    color: aliceblue;
}

.sec13_3 {
    width: 50%;
    margin: 0 auto;
}

.sec13_3 img {
    width: 100%;
}

#sectionlast {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #111111;
    padding: 20vh 0;
}

.last4_1 h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 8em;
    color: #738c6f;
    padding-bottom: 100px;
    animation: ani 1s infinite alternate;
    transition: .5s;
}

@keyframes ani {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 50px);
    }
}

.last4_1 p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    z-index: 999;
    color: #fff;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last4_2 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last4_2 p {
    width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid #738c6f;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 2em;
    z-index: 999;
}

.last4_2 p a {
    color: #fff;
}

/*===============================dimpop===================================*/
.dim-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    z-index: 999;
}

.layer-open {
    overflow: hidden;
}

.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    filter: alpha(opacity=50);
}

.pop-conts {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.pop-layer .btn-r {
    position: absolute;
    margin-top: -250px;
    margin-left: 175px;
}

.dim-layer .pop-layer {
    display: block;
}

a.btn-layerClose {
    display: inline-block;
    height: 20px;
    padding: 230px 170px;
    background-color: none;
    color: gray;
    line-height: 15px;
}


.l {
    width: 400px;
    height: 200px;
    padding: 30px;
    box-shadow: 5px 10px 20px gray;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.l p {
    text-align: center;
}


/*====================================================================*/
@media (min-width:769px) and (max-width:1024px) {
    #section1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5vh 0;
        position: relative;
    }

    #section1:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.4;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sti p {
        background: #000;
        padding: 4% 2%;
        border-radius: 100%;
        position: absolute;
        top: 4%;
        right: 4%;
        text-align: center;
        transform: rotate(15deg);
        box-shadow: 10px 10px 5px gray;
        cursor: pointer;
        z-index: 999;
    }

    #section1 p a {
        font-size: 1.5em;
        color: #738c6f;
    }

    .sec1 {
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 999;
    }

    .sec1 h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 13vh;
    }

    .sec1_2 {
        width: 100%;
        display: none;
    }

    .sec1_2 p {
        width: 80%;
        position: absolute;
        right: 0;
        border-bottom: 10px solid #000;
        z-index: 999;
    }

    .sec1_2 img {
        position: absolute;
        bottom: -10%;
        left: 2%;
        z-index: 999;
    }


    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding-bottom: 0px;
    }

    #section2::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: .2;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec2T {
        width: 90%;
        margin: 0 auto;
        padding-top: 0;
        padding: 5%;
    }

    #sec2_5 {
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        z-index: 1;
    }

    #sec2_5 img {
        width: 100%;
    }

    #sec2_1 {
        font-size: 2em;
        font-weight: bolder;
    }

    #sec2_1 p {
        font-size: 1.5em;
        padding-left: 10%;
    }


    #sec2_2 {
        padding-left: 30%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_2 p {
        font-size: 1.5em;
    }

    #sec2_3 {
        padding-left: 13%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_3 p {
        font-size: 1.5em;
    }

    #section3 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    .sec3_1 {
        width: 100%;
        margin: 0 auto;
        padding-top: 20%;
        position: relative;
    }

    .sec3_2 {
        width: 100%;
        margin: 0 auto;
        position: sticky;
        top: 0;
        left: 0;
        padding-left: 5%;
        z-index: 999;

    }

    .sec3_2 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec3_2_2 {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .sec3_2_2 a img {
        width: 100%;
        margin: 0 auto;
        filter: blur(1.3px);
        animation: aa 2s infinite;
        animation-direction: alternate;
    }

    .sec3_2_2 p {
        width: 200px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 3em;
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    .sec3_2_2 p:hover {
        color: #fff;
        background: #000;
        opacity: .5;
    }

    @keyframes aa {
        from {
            transform: translate(5%) animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
        }

        to {
            transform: translate(-5%)
        }
    }


    #section3::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    #section5 {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
        background: #111111;
        padding-top: 10%;
        overflow: hidden;
        position: relative;
    }

    .sec5T {
        width: 100%;
        margin: 0 auto;
        padding-left: 30%;
        z-index: 999;

    }

    .sec5T h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec5_1 {
        display: inline-block;
        width: 300px;
        height: 300px;
        overflow: hidden;
        animation: ball 2s ease-in Infinite Alternate;
    }

    @keyframes ball {
        0% {
            width: 100px;
        }

        95% {
            width: 300px;
        }
    }

    .sec5_1 img {
        width: 100%;
    }

    .sec5_2 {
        position: relative;
        left: 40%;
        top: 0;
        width: 300px;
        height: 300px;
        animation: ball2 2s ease-in Infinite Alternate;
    }

    .sec5_2 img {
        width: 100%;
    }


    @keyframes ball2 {
        0% {
            width: 0;
        }

        90% {
            width: 100px;
        }

        to {
            width: 100px;
            height: auto;
            top: -50%;
        }
    }

    .sec5_3 {
        display: inline-block;
        width: 500px;
        height: 500px;
        border: 1px solid none;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 5%;
        right: 5%;
        animation: ball3 2s ease-in Infinite Alternate;
    }

    @keyframes ball3 {
        0% {
            top: 0px;
        }

        95% {
            width: 100px;
        }

        to {
            top: 300px;
            width: 100px;
            height: 80px;
        }
    }

    .sec5_3 img {
        width: 100%;
        border-radius: 100%;
    }

    #section6 {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    #section6::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec6 {
        width: 100%;
        margin: 0 auto;
        padding-left: 55%;
        z-index: 999;
        padding-top: 10%;
    }

    .sec6 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    #section6 nav {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
        z-index: 999;
    }

    #section6 nav a {
        color: #738c6f;
        font-size: 5em;
        z-index: 999;
        transition: .5s;
    }

    #section6 nav.active a {
        filter: blur(10px);
        z-index: 999;
    }

    #section6 nav a:hover {
        filter: blur(0px);
        z-index: 999;
    }

    nav a:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: blur(0px);
        z-index: 999;
    }

    #section7 {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
        padding: 100px 0;
        overflow: hidden;
    }

    .sec7 {
        width: 100%;
        margin: 0 auto;
        z-index: 999;
        padding-top: 10%;
        position: relative;
        text-align: center;
        top: 0%;
        left: 0;
    }

    .sec7 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec7_1 {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 0;
    }

    #section8 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        padding-top: 10%;
    }

    .sec8_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec8_1 img {
        width: 100%;
    }

    .sec8_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec8_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec8_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec8_2_1 {
        padding-top: 30px;
    }

    .sec8_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec8_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec8_3 p a {
        color: aliceblue;
    }

    #section9 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec9_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec9_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec9_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec9_1_1 {
        padding-top: 30px;
    }

    .sec9_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec9_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec9_2 p a {
        color: aliceblue;
    }

    .sec9_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec9_3 img {
        width: 100%;
    }

    #section10 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec10_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec10_1 img {
        width: 100%;
    }

    .sec10_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec10_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec10_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec10_2_1 {
        padding-top: 30px;
    }

    .sec10_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec10_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec10_3 p a {
        color: aliceblue;
    }

    #section11 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec11_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec11_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec11_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec11_1_1 {
        padding-top: 30px;
    }

    .sec11_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec11_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec11_2 p a {
        color: aliceblue;
    }

    .sec11_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec11_3 img {
        width: 100%;
    }

    #section12 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec12_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec12_1 img {
        width: 100%;
    }

    .sec12_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec12_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec12_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec12_2_1 {
        padding-top: 30px;
    }

    .sec12_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec12_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec12_3 p a {
        color: aliceblue;
    }

    #sectionlast {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background: #111111;
        padding: 20vh 0;
    }

    .last4_1 h2 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 8em;
        color: #738c6f;
        padding-bottom: 100px;
        animation: ani 1s infinite alternate;
        transition: .5s;
    }

    @keyframes ani {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0, 50px);
        }
    }

    .last4_1 p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
        z-index: 999;
        color: #fff;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 p {
        width: 50%;
        height: auto;
        margin: 10px;
        border: 2px solid #738c6f;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 2em;
        z-index: 999;
    }

    .last4_2 p a {
        color: #fff;
    }


}


/*====================================================================*/
@media (max-width:768px) {

    .outer-scratch:after,
    .inner-scratch:after {
        content: '';
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png') repeat center center;
        -webkit-animation: scratch 0.45s steps(1) infinite;
        animation: scratch 0.45s steps(1) infinite;
    }

    #section1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5vh 0;
        position: relative;
    }

    #section1:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.4;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sti p {
        background: #000;
        padding: 4% 2%;
        border-radius: 100%;
        position: absolute;
        top: 4%;
        right: 4%;
        text-align: center;
        transform: rotate(15deg);
        box-shadow: 10px 10px 5px gray;
        cursor: pointer;
        z-index: 999;
    }

    #section1 p a {
        font-size: 1.5em;
        color: #738c6f;
    }

    .sec1 {
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 999;
    }

    .sec1 h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 10vh;
    }

    .sec1_2 {
        width: 100%;
        display: none;
    }

    .sec1_2 p {
        width: 80%;
        position: absolute;
        right: 0;
        border-bottom: 10px solid #000;
        z-index: 999;
    }

    .sec1_2 img {
        width: 10%;
        position: absolute;
        bottom: -10%;
        left: 3%;
        z-index: 999;
    }


    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding-bottom: 0px;
    }

    #section2::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: .2;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec2T {
        width: 90%;
        margin: 0 auto;
        padding-top: 0;
        padding: 5%;
    }

    #sec2_5 {
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        z-index: 1;
    }

    #sec2_5 img {
        width: 100%;
    }

    #sec2_1 {
        font-size: 2em;
        font-weight: bolder;
    }

    #sec2_1 p {
        font-size: 1.5em;
        padding-left: 10%;
    }


    #sec2_2 {
        padding-left: 30%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_2 p {
        font-size: 1.5em;
    }

    #sec2_3 {
        padding-left: 13%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_3 p {
        font-size: 1.5em;
    }


    #section3 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    .sec3_1 {
        width: 100%;
        margin: 0 auto;
        padding-top: 20%;
        position: relative;
    }

    .sec3_2 {
        width: 100%;
        margin: 0 auto;
        position: sticky;
        top: 0;
        left: 0;
        padding-left: 5%;
        z-index: 999;

    }

    .sec3_2 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec3_2_2 {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .sec3_2_2 a img {
        width: 100%;
        margin: 0 auto;
        filter: blur(1.3px);
        animation: aa 2s infinite;
        animation-direction: alternate;
    }

    .sec3_2_2 p {
        width: 200px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        font-size: 3em;
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    .sec3_2_2 p:hover {
        color: #fff;
        background: #000;
        opacity: .5;
    }

    @keyframes aa {
        from {
            transform: translate(5%) animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
        }

        to {
            transform: translate(-5%)
        }
    }

    #section3::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    #section5 {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        background: #111111;
        padding-top: 10%;
        overflow: hidden;
        position: relative;
    }

    .sec5T {
        width: 100%;
        margin: 0 auto;
        padding-left: 30%;
        z-index: 999;

    }

    .sec5T h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec5_1 {
        display: inline-block;
        width: 300px;
        height: 300px;
        overflow: hidden;
        animation: ball 2s ease-in Infinite Alternate;
    }

    @keyframes ball {
        0% {
            width: 100px;
        }

        95% {
            width: 300px;
        }
    }

    .sec5_1 img {
        width: 100%;
    }

    .sec5_2 {
        position: relative;
        left: 40%;
        top: 0;
        width: 300px;
        height: 300px;
        animation: ball2 2s ease-in Infinite Alternate;
    }

    .sec5_2 img {
        width: 100%;
    }


    @keyframes ball2 {
        0% {
            width: 0;
        }

        90% {
            width: 100px;
        }

        to {
            width: 100px;
            height: auto;
            top: -50%;
        }
    }

    .sec5_3 {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 1px solid none;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 5%;
        right: 5%;
        animation: ball3 2s ease-in Infinite Alternate;
    }

    @keyframes ball3 {
        0% {
            top: 0px;
        }

        95% {
            width: 100px;
        }

        to {
            top: 300px;
            width: 100px;
            height: 80px;
        }
    }

    .sec5_3 img {
        width: 100%;
        border-radius: 100%;
    }

    #section6 {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    #section6::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec6 {
        width: 100%;
        margin: 0 auto;
        padding-left: 55%;
        z-index: 999;
        padding-top: 10%;
    }

    .sec6 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    #section6 nav {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 20%;
        z-index: 999;
    }

    #section6 nav a {
        color: #738c6f;
        font-size: 3em;
        z-index: 999;
        transition: .5s;
    }

    #section6 nav.active a {
        filter: blur(10px);
        z-index: 999;
    }

    #section6 nav a:hover {
        filter: blur(0px);
        z-index: 999;
    }

    nav a:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: blur(0px);
        z-index: 999;
    }

    #section7 {
        width: 100%;
        height: 80vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
        padding: 30px;
        overflow: hidden;
    }

    .sec7 {
        width: 100%;
        margin: 0 auto;
        z-index: 999;
        padding-top: 10%;
        position: relative;
        text-align: center;
        top: 0%;
        left: 0;
    }

    .sec7 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec7_1 {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 0;
    }


    #section8 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        padding-top: 10%;
    }

    .sec8_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec8_1 img {
        width: 100%;
    }

    .sec8_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec8_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec8_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec8_2_1 {
        padding-top: 30px;
    }

    .sec8_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec8_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec8_3 p a {
        color: aliceblue;
    }

    #section9 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec9_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec9_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec9_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec9_1_1 {
        padding-top: 30px;
    }

    .sec9_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec9_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec9_2 p a {
        color: aliceblue;
    }

    .sec9_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec9_3 img {
        width: 100%;
    }

    #section10 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec10_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec10_1 img {
        width: 100%;
    }

    .sec10_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec10_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec10_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec10_2_1 {
        padding-top: 30px;
    }

    .sec10_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec10_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec10_3 p a {
        color: aliceblue;
    }

    #section11 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec11_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec11_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec11_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec11_1_1 {
        padding-top: 30px;
    }

    .sec11_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec11_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec11_2 p a {
        color: aliceblue;
    }

    .sec11_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec11_3 img {
        width: 100%;
    }

    #section12 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec12_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec12_1 img {
        width: 100%;
    }

    .sec12_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec12_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec12_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec12_2_1 {
        padding-top: 30px;
    }

    .sec12_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec12_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec12_3 p a {
        color: aliceblue;
    }


    #sectionlast {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background: #111111;
        padding: 20vh 0;
    }

    .last4_1 h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 6em;
        color: #738c6f;
        padding-bottom: 100px;
        animation: ani 1s infinite alternate;
        transition: .5s;
    }

    @keyframes ani {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0, 50px);
        }
    }

    .last4_1 p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
        z-index: 999;
        color: #fff;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 {
        width: 90%;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 p {
        width: 100%;
        height: auto;
        margin: 10px;
        border: 2px solid #738c6f;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 2em;
        z-index: 999;
    }

    .last4_2 p a {
        color: #fff;
    }



}


/*====================================================================*/
@media (max-width:480px) {

    .outer-scratch:after,
    .inner-scratch:after {
        content: '';
        width: 100%;
        height: 30%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .1;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/scratch.png') repeat center center;
        -webkit-animation: scratch 0.45s steps(1) infinite;
        animation: scratch 0.45s steps(1) infinite;
    }

    #section1 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5vh 0;
        position: relative;
    }

    #section1:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.4;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sti p {
        background: #000;
        padding: 7% 4%;
        border-radius: 100%;
        position: absolute;
        top: 1%;
        right: 4%;
        text-align: center;
        transform: rotate(15deg);
        box-shadow: 10px 10px 5px gray;
        cursor: pointer;
        z-index: 999;
    }

    #section1 p a {
        font-size: 1em;
        color: #738c6f;
    }

    .sec1 {
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 999;
    }

    .sec1 h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 8vh;
    }

    .sec1_2 {
        width: 100%;
        display: none;
    }

    .sec1_2 p {
        width: 80%;
        position: absolute;
        right: 0;
        border-bottom: 5px solid #000;
        z-index: 999;
    }

    .sec1_2 img {
        width: 10%;
        position: absolute;
        bottom: -10%;
        left: 7%;
        z-index: 999;
    }


    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        padding-bottom: 0px;
    }

    #section2::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: .2;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec2T {
        width: 90%;
        margin: 0 auto;
        padding-top: 0;
        padding: 5%;
    }

    #sec2_5 {
        width: 60%;
        margin: 0 auto;
        position: relative;
        top: 0;
        right: 0;
        padding: 10px;
        z-index: 1;
    }

    #sec2_5 img {
        width: 100%;
    }

    #sec2_1 {
        font-size: 1.5em;
        font-weight: bolder;
    }

    #sec2_1 p {
        font-size: 1.5em;
        padding-left: 10%;
    }


    #sec2_2 {
        padding-left: 30%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_2 p {
        font-size: 1em;
    }

    #sec2_3 {
        padding-left: 13%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    #sec2_3 p {
        font-size: 1em;
    }


    #section3 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    .sec3_1 {
        width: 100%;
        margin: 0 auto;
        padding-top: 10%;
        position: relative;
    }

    .sec3_2 {
        width: 100%;
        margin: 0 auto;
        position: sticky;
        top: 0;
        left: 0;
        padding-left: 5%;
        z-index: 999;

    }

    .sec3_2 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec3_2_2 {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .sec3_2_2 a img {
        width: 100%;
        margin: 0 auto;
        filter: blur(1.3px);
        animation: aa 2s infinite;
        animation-direction: alternate;
    }

    .sec3_2_2 p {
        width: 150px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        font-size: 2em;
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    .sec3_2_2 p:hover {
        color: #fff;
        background: #000;
        opacity: .5;
    }

    @keyframes aa {
        from {
            transform: translate(5%) animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
        }

        to {
            transform: translate(-5%)
        }
    }



    #section3::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    #section5 {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        background: #111111;
        padding-top: 10%;
        overflow: hidden;
        position: relative;
    }

    .sec5T {
        width: 100%;
        margin: 0 auto;
        padding-left: 30%;
        z-index: 999;

    }

    .sec5T h2 {
        color: aliceblue;
        font-size: 3em;
    }

    .sec5_1 {
        display: inline-block;
        width: 300px;
        height: 300px;
        overflow: hidden;
        animation: ball 2s ease-in Infinite Alternate;
    }

    @keyframes ball {
        0% {
            width: 100px;
        }

        95% {
            width: 300px;
        }
    }

    .sec5_1 img {
        width: 100%;
    }

    .sec5_2 {
        position: relative;
        left: 40%;
        top: 0;
        width: 300px;
        height: 300px;
        animation: ball2 2s ease-in Infinite Alternate;
    }

    .sec5_2 img {
        width: 100%;
    }


    @keyframes ball2 {
        0% {
            width: 0;
        }

        90% {
            width: 100px;
        }

        to {
            width: 100px;
            height: auto;
            top: -50%;
        }
    }

    .sec5_3 {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 1px solid none;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 5%;
        right: 5%;
        animation: ball3 2s ease-in Infinite Alternate;
    }

    @keyframes ball3 {
        0% {
            top: 0px;
        }

        95% {
            width: 100px;
        }

        to {
            top: 300px;
            width: 100px;
            height: 80px;
        }
    }

    .sec5_3 img {
        width: 100%;
        border-radius: 100%;
    }

    #section6 {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
    }

    #section6::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        opacity: .11;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
    }

    .sec6 {
        width: 100%;
        margin: 0 auto;
        padding-left: 55%;
        z-index: 999;
        padding-top: 10%;
    }

    .sec6 h2 {
        color: aliceblue;
        font-size: 3em;
    }

    #section6 nav {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-top: 20%;
        z-index: 999;
    }

    #section6 nav a {
        color: #738c6f;
        font-size: 2em;
        z-index: 999;
        transition: .5s;
    }

    #section6 nav.active a {
        filter: blur(10px);
        z-index: 999;
    }

    #section6 nav a:hover {
        filter: blur(0px);
        z-index: 999;
    }

    nav a:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: blur(0px);
        z-index: 999;
    }

    #section7 {
        width: 100%;
        height: 70vh;
        margin: 0 auto;
        background: #111111;
        position: relative;
        padding: 30px;
    }

    .sec7 {
        width: 100%;
        margin: 0 auto;
        z-index: 999;
        padding-top: 10%;
        position: relative;
        text-align: center;
        top: 0%;
        left: 0;
    }

    .sec7 h2 {
        color: aliceblue;
        font-size: 5em;
    }

    .sec7_1 {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 0;
        overflow: hidden;
    }


    #section8 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        padding-top: 10%;
    }

    .sec8_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec8_1 img {
        width: 100%;
    }

    .sec8_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec8_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec8_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec8_2_1 {
        padding-top: 30px;
    }

    .sec8_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec8_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec8_3 p a {
        color: aliceblue;
    }

    #section9 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec9_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec9_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec9_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec9_1_1 {
        padding-top: 30px;
    }

    .sec9_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec9_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec9_2 p a {
        color: aliceblue;
    }

    .sec9_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec9_3 img {
        width: 100%;
    }

    #section10 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec10_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec10_1 img {
        width: 100%;
    }

    .sec10_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec10_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec10_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec10_2_1 {
        padding-top: 30px;
    }

    .sec10_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec10_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec10_3 p a {
        color: aliceblue;
    }

    #section11 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 10%;
    }

    .sec11_1 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        color: aliceblue;
        order: 1;
    }

    .sec11_1 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec11_1 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec11_1_1 {
        padding-top: 30px;
    }

    .sec11_2 {
        width: 30%;
        padding-top: 50px;
    }

    .sec11_2 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec11_2 p a {
        color: aliceblue;
    }

    .sec11_3 {
        width: 80%;
        margin: 0 auto;
        order: 0;
    }

    .sec11_3 img {
        width: 100%;
    }

    #section12 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: #111111;
        display: block;
        justify-content: space-between;
        align-content: center;
        padding-top: 10%;
    }

    .sec12_1 {
        width: 80%;
        margin: 0 auto;
    }

    .sec12_1 img {
        width: 100%;
    }

    .sec12_2 {
        width: 80%;
        margin: 0 auto;
        color: aliceblue;
    }

    .sec12_2 h2 {
        font-size: 5em;
        margin: 0;
    }

    .sec12_2 p {
        font-size: 1.3em;
        margin: 0;
    }

    .sec12_2_1 {
        padding-top: 30px;
    }

    .sec12_3 {
        width: 30%;
        padding-top: 50px;
    }

    .sec12_3 p {
        border: 1px solid #fff;
        padding: 5%;
        text-align: center;
    }

    .sec12_3 p a {
        color: aliceblue;
    }

    #sectionlast {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background: #111111;
        padding: 10vh 0;
    }

    .last4_1 h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 5em;
        color: #738c6f;
        padding-bottom: 10vh;
        animation: ani 1s infinite alternate;
        transition: .5s;
    }

    @keyframes ani {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0, 50px);
        }
    }

    .last4_1 p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5em;
        z-index: 999;
        color: #fff;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 {
        width: 80%;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .last4_2 p {
        width: 100%;
        height: auto;
        margin: 10px;
        border: 2px solid #738c6f;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 1em;
        z-index: 999;
    }

    .last4_2 p a {
        color: #fff;
    }


}
